body {
  background-color: #fff;
  margin: 0;
}

@font-face {
  font-family: Spartan;
  src: url(font/LeagueSpartan-VariableFont_wght.ttf);
}

.all {
  width: 100vw;
  height: 100vh;
  background: #000000;
  display: flex;
}

.rectangle {
  position: relative;
  left: 744px;
  width: 960px;
  background: #000;
  z-index: 2;
}

.artworks {
  width: 904px;
  height: 500px;
}

.artworks .works {
  position: fixed;
  width: 846px;
  height: 1109px;
  top: 0;
  left: 0;
}

h1 {
  font-family: Spartan, sans-serif;
  font-size: 80px;
  color: #fff;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 50px;
  left: 45px;
}

p {
  font-family: Spartan, sans-serif;
  font-size: 40px;
  color: #f58b00;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 140px;
  left: 50px;
}

form {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 230px;
  right: 80px;
  gap: 20px;
}

input {
  width: 40vw;
  height: 50px;
  font-family: Spartan, sans-serif;
  font-size: 20px;
  padding-left: 16px;
  text-decoration: none;
  border: none;
  border-radius: 10px;
  padding-top: 4px;
}

button {
  width: 10vw;
  height: 50px;
  font-family: Spartan, sans-serif;
  font-size: 20px;
  color: #fff;
  background: #f58b00;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

#contacts {
  font-family: Spartan, sans-serif;
  font-size: 20px;
  color: #737373;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 640px;
  left: 50px;
}
