body {
    background-color: #000;
    margin: 0;
}

@font-face {
    font-family: Spartan;
    src: url(font/LeagueSpartan-VariableFont_wght.ttf);
}

.hero {
    width: 98vw;
    height: 120vh;
    background: #000;
    display: flex;
    flex-direction: column;
}

.background {
    width: 100%;
    height: 100%;
    border: 1.156px solid #000;
    box-shadow: 0px 4.625px 4.625px 0px rgba(0, 0, 0, 0.25);
    background: url(pictures/face.png) lightgray -160px -352px / 120% 211% no-repeat;
}

.gradient {
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #d9d9d900 10.86%, rgb(0, 0, 0) 85%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-main {
    width: 50%;
    height: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 110px;
    border: 0px solid #000;
    background: url(logos/mainlogo.png) rgba(211, 211, 211, 0) 50% / cover no-repeat;
}

.text-main {
    position: absolute;
    color: #EEE;
    font-family: Spartan;
    font-size: 24.35px;
    font-weight: 200;
    line-height: normal;
    letter-spacing: 12.419px;
    margin-top: 450px;
    padding-right: 30px;
}

.profiles, .pfp, .contacts {
    position: relative;
    width: fit-content;
    height: fit-content;
}

.contacts {
    position: relative;
    margin: auto;
    margin-top: 210px;
}

.pfp {
    display: flex;
}

.polpfp {
    position: relative;
    right: -20px;
    width: 320px;
    height: 320px;
    border-radius: 1000px;
    border: 2px solid #FFF;
    background: url(pictures/paul.pfp.png) rgb(255, 255, 255) -123px -13px / 153% 191% no-repeat;
}

.lncepfp {
    position: relative;
    left: -20px;
    width: 320px;
    height: 320px;
    border-radius: 1000px;
    mix-blend-mode: screen;
    border: 2px solid #FFF;
    background: url(pictures/lnce.pfp.jpg) rgb(255, 255, 255) 50% / cover no-repeat;
}

.polpfp, .lncepfp {
    mask-image: linear-gradient(to bottom, rgb(115, 115, 115) 70%, rgba(168, 168, 168, 0) 100%);
    -webkit-mask-image: linear-gradient(to bottom, rgb(115, 115, 115) 70%, rgba(168, 168, 168, 0) 100%);
}

.polmini {
    left: 80px;
    bottom: 55px;
    position: relative;
    width: 175px;
    height: 125px;
    background-size: 20px 20px no-repeat;
    background: url(logos/pol.minilogo.png) rgba(255, 255, 255, 0) 70% / cover no-repeat;
}

.lncemini {
    left: 370px;
    bottom: 180px;
    position: relative;
    width: 200px;
    height: 130px;
    background-size: 30px 30px no-repeat;
    background: url(logos/lnce.minilogo.png) rgba(255, 255, 255, 0) 70% / cover no-repeat;
}

.socials {
    width: fit-content;
    height: fit-content;
}

.left {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-wrap:nowrap;
}

.icons {
    width: fit-content;
    height:fit-content;
}

.facebook, .facebook2 {
    width: 50px;
    height: 50px;
    background: url(logos/fb.png) rgba(255, 255, 255, 0) 50% / cover no-repeat;
}

.x, .x2 {
    width: 50px;
    height: 50px;
    background: url(logos/x.png) rgba(255, 255, 255, 0) 50% / cover no-repeat;
}

.instagram, .instagram2 {
    width: 50px;
    height: 50px;
    background: url(logos/insta.png) rgba(255, 255, 255, 0) 50% / cover no-repeat;
}

.facebook {
    position: relative;
    bottom: 560px;
    right: 30px;
}

.instagram {
    position: relative;
    bottom: 550px;
    right: 68px;
}

.x {
    position: relative;
    bottom: 385px;
    right: 30px
}

.facebook2 {
    position: relative;
    bottom: 708px;
    left: 627px;
}

.instagram2 {
    position: relative;
    bottom: 700px;
    left: 660px;
}

.x2 {
    position: relative;
    bottom: 535px;
    left: 629px
}

.fbuser, .xuser, .iguser, .fbuser2, .xuser2, .iguser2 {
    position: relative;
    color: #FFF;
    text-align: right;
    font-family: Spartan;
    font-size: 20.35px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    letter-spacing: 4.07px;
}

.fbuser {
    position: relative;
    bottom: 542px;
    right: 270px;
}

.iguser {
    position: relative;
    bottom: 452px;
    right: 310px;
}

.xuser {
    position: relative;
    bottom: 356px;
    right: 270px;
}

.fbuser2 {
    position: relative;
    bottom: 840px;
    left: 650px;
}

.iguser2 {
    position: relative;
    bottom: 752px;
    left: 638px;
}

.xuser2 {
    position: relative;
    bottom: 656px;
    left: 586px;
}

.navbar {
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 126.984px;
    border: 1.27px solid rgba(0, 0, 0, 0.30);
    backdrop-filter: blur(120px);
}

.gallery, .contacts {
    color: #FFF;
    font-family: Spartan, sans-serif;
    font-size: 23.35px;
    font-weight: 400;
    letter-spacing: 10.975px;
}

.navbar {
    width: 100vw;
    height: 70px;
    flex-shrink: 0;
    backdrop-filter: blur(126.984130859375px);
    padding: 5px; 
    position: sticky; 
    top: 0; 
}

.elements {
    width: 100vw;
    height: 50px;
    flex-shrink: 0;
    display: flex; 
    align-items: center; 
}

#gallery {
    margin-left: 575px;
    color: #FFF;
    font-family: Spartan;
    font-size: 18.25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 10.975px;
    padding: 100px;
}

.minilogo {
    position: absolute;
    top: 9px;
    left: 50px;
}
.bar {
    width: 100vw;
    height: 50px;
    flex-shrink: 0;
    border: 1.27px solid rgba(0, 0, 0, 0.30);
    opacity: 0.2;
    background: #111;
    backdrop-filter: blur(1.2698413133621216px);
}

footer {
    height: 700px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(180deg, #000000 0%, rgba(255, 255, 255, 0.101) 100%);
    padding-bottom: 60px;
}

.socials2 {
    width: fit-content;
    height: fit-content;
    display: flex;
    gap: 100px;
}

#mainlogofoot {
    position: relative;
    top: 26px;
}

.left2 {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-wrap:nowrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.right2 {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-wrap:nowrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.icons2 {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.icons3 {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.usernames2 {
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.usernames3 {
    display: flex;
    text-align: center;
    flex-direction: column;
    gap: 80px;
}

.facebook3, .facebook4 {
    width: 44px;
    height: 44px;
    background: url(logos/fb.png) rgba(255, 255, 255, 0) 50% / cover no-repeat;
}

.x3, .x4 {
    width: 44px;
    height: 44px;
    background: url(logos/x.png) rgba(255, 255, 255, 0) 50% / cover no-repeat;
}

.instagram3, .instagram4 {
    width: 44px;
    height: 44px;
    background: url(logos/insta.png) rgba(255, 255, 255, 0) 50% / cover no-repeat;
}

#fbuser3, #xuser3, #iguser3 {
    color: #FFF;
    text-align: right;
    font-family: Spartan;
    font-size: 15.001px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    letter-spacing: 3px;
}

#fbuser4, #xuser4, #iguser4 {
    color: #FFF;
    text-align: left;
    font-family: Spartan;
    font-size: 15.001px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    letter-spacing: 3px;
}

.thanks {
    color: #FFF;
    font-family: Spartan;
    font-size: 48.75px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 19.5px;
}

.all {
    margin-top: 130px;
    padding-bottom: 120px;
}